<h1>Admin show</h1>
<h2><%= @badge.name %></h2>

<table>
  <tr>
    <th><%= octicon(@badge.picture, height: 100) %></th>
  </tr> 

</table><br>

<%= link_to 'back', admin_badges_path %> |
<%= link_to 'edit', edit_admin_badge_path %>
