  <% if resorce.errors.present? %>
    <div>
      <h2><%= pluralize(resorce.errors.count, 'error') %> detected:</h2>
      <ul>
        <% resorce.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
