<tr>
  <td><%= question.body %></td>
  <td> <%= link_to  t('admin.tests.show.button_show'), admin_question_path(question) %></td>
  <td> <%= link_to  t('admin.tests.show.button_edit'), edit_admin_question_path(question) %></td>
   <td>
    <%= link_to  t('admin.tests.show.button_delete'), 
                  admin_question_path(question),
                  method: :delete,
                  data: { confirm: t('helpers.flash.confirm') } %>  
  </td>
</tr>